<?xml version="1.0" encoding="UTF-8" ?>
<OpenVanilla>
  <dict name="OVIMPhonetic">
    <key name="enable" value="1" />
    <key name="keyboardLayout" value="0" />
    <key name="selectKey" value="123456789" />
    <key name="priority" value="5" />
  </dict>
  <dict name="OVIMGeneric-cj.cin">
    <key name="enable" value="1" />
    <key name="maxKeySequenceLength" value="5" />
    <key name="autoCompose" value="0" />
    <key name="hitMaxAndCompose" value="0" />
    <key name="shiftSelectionKey" value="0" />
    <key name="warningBeep" value="0" />
    <key name="priority" value="4" />
  </dict>
  <dict name="OVIMGeneric-dayi3-patched.cin">
    <key name="enable" value="1" />
    <key name="autoCompose" value="0" />
    <key name="hitMaxAndCompose" value="0" />
    <key name="maxKeySequenceLength" value="5" />
    <key name="shiftSelectionKey" value="0" />
    <key name="warningBeep" value="0" />
    <key name="priority" value="3" />
  </dict>
  <dict name="OVIMGeneric-ehq-symbols.cin">
    <key name="enable" value="1" />
    <key name="autoCompose" value="0" />
    <key name="hitMaxAndCompose" value="0" />
    <key name="maxKeySequenceLength" value="10" />
    <key name="shiftSelectionKey" value="0" />
    <key name="warningBeep" value="0" />
    <key name="priority" value="2" />
  </dict>
  <dict name="OVIMRomanNew">
    <key name="enable" value="1" />
    <key name="priority" value="1" />
  </dict>
</OpenVanilla>
