# Xcode and Mac files
*.mode1v3
*.pbxuser
*.tm_build_errors
*.xcworkspace
*.perspectivev3
.DS_Store
xcuserdata
build
*.pkg
*.dmg

# Visual Studio files
*.suo
*.ncb
Debug
Release
*.vcproj.*.user
debug
release
obj
x64

# Misc
._*
.idea
