<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OVLoader</key>
	<dict>
		<key>primaryInputMethod</key>
		<string>OVIMPhonetic</string>
		<key>displayServerName</key>
		<string>OVDisplayServer-0.7.2</string>
		<key>displayServerStartupTimeout</key>
		<string>40</string>
		<key>displayServerPath</key>
		<string>/Library/OpenVanilla/0.7.2/Loader/OVDisplayServer.app</string>
	</dict>
</dict>
</plist>
