{
    objects = {
        00301B70435B5A7A436B410A = (); 
        0036A300435B5A7A436DF97A = {
            "IDEKit_ProjEntryGroup" = 0036ABA0435B5A7A436DF1DA; 
            "IDEKit_ProjEntryKind" = 2; 
            "IDEKit_ProjEntryName" = "zh-Hant.lproj"; 
        }; 
        0036A490435B5A7A436DFEEA = {
            "IDEKit_ProjEntryGroup" = 0036A8E0435B5A7A436DF29A; 
            "IDEKit_ProjEntryKind" = 2; 
            "IDEKit_ProjEntryName" = "__Root"; 
        }; 
        0036A5A0435B5A7A436DFFDA = {
            TargetAllowFullAccess = 1; 
            TargetAllowSystem = 1; 
            TargetBuildVersion = 13; 
            TargetCFBundleDisplayName = OVFilter; 
            TargetCFBundleIdentifier = "org.openvanilla.widget.OVFilter"; 
            TargetCFBundleName = OVFilter; 
            TargetCFBundleShortVersionString = "1.0"; 
            TargetCFBundleVersion = "1.0"; 
            TargetCloseBoxInsetX = 4; 
            TargetCloseBoxInsetY = 4; 
            TargetExtensions = 00301B70435B5A7A436B410A; 
            TargetHeight = 0; 
            TargetLocalization = "zh-Hant"; 
            TargetMainHTML = "Widget.html"; 
            TargetReleaseStatus = Development; 
            TargetSourceVersion = 1; 
            TargetWidth = 0; 
        }; 
        0036A8E0435B5A7A436DF29A = (
            0036B100435B5A7A436DEB7A, 
            0036AF90435B5A7A436DF5EA, 
            0036AE30435B5A7A436DF44A, 
            0036ACD0435B5A7A436DF6AA, 
            0036AB70435B5A7A436DF10A, 
            0036AA10435B5A7A436DF06A, 
            0036A300435B5A7A436DF97A
        ); 
        0036AA10435B5A7A436DF06A = {
            "IDEKit_ProjEntryKind" = 1; 
            "IDEKit_ProjEntryName" = "Default_reverse.png"; 
            "IDEKit_ProjEntryPath" = "/Users/zonble/Desktop/OVFilter/Default_reverse.png"; 
            "IDEKit_ProjEntryRelative" = "{Project}/Default_reverse.png"; 
        }; 
        0036AB70435B5A7A436DF10A = {
            "IDEKit_ProjEntryKind" = 1; 
            "IDEKit_ProjEntryName" = "Icon.png"; 
            "IDEKit_ProjEntryPath" = "/Users/zonble/Desktop/OVFilter/Icon.png"; 
            "IDEKit_ProjEntryRelative" = "{Project}/Icon.png"; 
        }; 
        0036ABA0435B5A7A436DF1DA = (0036B0D0435B5A7A436DEAAA); 
        0036ACD0435B5A7A436DF6AA = {
            "IDEKit_ProjEntryKind" = 1; 
            "IDEKit_ProjEntryName" = "Default.png"; 
            "IDEKit_ProjEntryPath" = "/Users/zonble/Desktop/OVFilter/Default.png"; 
            "IDEKit_ProjEntryRelative" = "{Project}/Default.png"; 
        }; 
        0036AE30435B5A7A436DF44A = {
            "IDEKit_ProjEntryKind" = 1; 
            "IDEKit_ProjEntryName" = "OVFilter.js"; 
            "IDEKit_ProjEntryPath" = "/Users/zonble/Desktop/OVFilter/OVFilter.js"; 
            "IDEKit_ProjEntryRelative" = "{Project}/OVFilter.js"; 
        }; 
        0036AF90435B5A7A436DF5EA = {
            "IDEKit_ProjEntryKind" = 1; 
            "IDEKit_ProjEntryName" = "OVFilter.css"; 
            "IDEKit_ProjEntryPath" = "/Users/zonble/Desktop/OVFilter/OVFilter.css"; 
            "IDEKit_ProjEntryRelative" = "{Project}/OVFilter.css"; 
        }; 
        0036B0D0435B5A7A436DEAAA = {
            "IDEKit_ProjEntryKind" = 1; 
            "IDEKit_ProjEntryName" = "InfoPlist.strings"; 
            "IDEKit_ProjEntryPath" = "/Users/zonble/Desktop/OVFilter/zh-Hant.lproj/InfoPlist.strings"; 
            "IDEKit_ProjEntryRelative" = "{Project}/zh-Hant.lproj/InfoPlist.strings"; 
        }; 
        0036B100435B5A7A436DEB7A = {
            "IDEKit_ProjEntryKind" = 1; 
            "IDEKit_ProjEntryName" = "OVFilter.html"; 
            "IDEKit_ProjEntryPath" = "/Users/zonble/Desktop/OVFilter/OVFilter.html"; 
            "IDEKit_ProjEntryRelative" = "{Project}/OVFilter.html"; 
        }; 
        0036B240435B5A7A436DE83A = {
            "IDEKit_ProjEntryKind" = 3; 
            "IDEKit_ProjEntryName" = DefaultTarget; 
            "IDEKit_TargetEntryDefaults" = 0036A5A0435B5A7A436DFFDA; 
            "IDEKit_TargetEntryFiles" = 0036C9E0435B5A7A436D939A; 
        }; 
        0036B540435B5A7A436DEF3A = (0036B240435B5A7A436DE83A); 
        0036C9E0435B5A7A436D939A = (
            0036B100435B5A7A436DEB7A, 
            0036AF90435B5A7A436DF5EA, 
            0036AE30435B5A7A436DF44A, 
            0036ACD0435B5A7A436DF6AA, 
            0036AB70435B5A7A436DF10A, 
            0036AA10435B5A7A436DF06A, 
            0036B0D0435B5A7A436DEAAA
        ); 
        0036CCA0435B5A7A436D96DA = (
            0036A490435B5A7A436DFEEA, 
            0036B100435B5A7A436DEB7A, 
            0036AF90435B5A7A436DF5EA, 
            0036AE30435B5A7A436DF44A, 
            0036ACD0435B5A7A436DF6AA, 
            0036AB70435B5A7A436DF10A, 
            0036AA10435B5A7A436DF06A, 
            0036A300435B5A7A436DF97A, 
            0036B0D0435B5A7A436DEAAA
        ); 
        05886260435B5A7A46D3381A = {
            "IDEKit_CurrentTarget" = 0036B240435B5A7A436DE83A; 
            "IDEKit_FileList" = 0036CCA0435B5A7A436D96DA; 
            "IDEKit_ProjEntryKind" = 7; 
            "IDEKit_RootGroup" = 0036A490435B5A7A436DFEEA; 
            "IDEKit_TargetList" = 0036B540435B5A7A436DEF3A; 
            "IDEKit_Version" = 1; 
        }; 
    }; 
    rootObject = 05886260435B5A7A46D3381A; 
    version = 1; 
}