<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clauses</key>
	<array>
		<dict>
			<key>anyOrAll</key>
			<integer>2</integer>
			<key>connector</key>
			<string></string>
			<key>msg</key>
			<string>You have less than 128MB of RAM.</string>
			<key>msgTitle</key>
			<string>Memory Warning</string>
			<key>rules</key>
			<array>
				<dict>
					<key>argumentField</key>
					<string>hw.memsize</string>
					<key>argumentStringField</key>
					<string></string>
					<key>booleanType</key>
					<string>true</string>
					<key>choiceProperty</key>
					<string>enabled</string>
					<key>comboType</key>
					<string></string>
					<key>comparator</key>
					<string>&gt;=</string>
					<key>mainChoice</key>
					<string>Result of Sysctl</string>
					<key>numberType</key>
					<string></string>
					<key>pathField</key>
					<string></string>
					<key>pathKeyKeyField</key>
					<string></string>
					<key>pathKeyPathField</key>
					<string></string>
					<key>specificChoice</key>
					<string>choice0</string>
					<key>stringType</key>
					<string>134217728</string>
				</dict>
			</array>
			<key>title</key>
			<string>Check Memory Size</string>
			<key>type</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>functionName</key>
	<string>installationCheckRAM</string>
</dict>
</plist>
