<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
			<dict>
					<key>ODBEditorBundleID</key>
					<string>com.barebones.bbedit</string>
					<key>ODBEditorCreatorCode</key>
					<string>R*ch</string>
					<key>ODBEditorLaunchStyle</key>
					<integer>0</integer>
					<key>ODBEditorName</key>
					<string>BBEdit</string>
			</dict>
			<dict>
					<key>OBDEditorBundleID</key>
					<string>com.barebones.bbeditlite</string>
					<key>ODBEditorCreatorCode</key>
					<string>R*ch</string>
					<key>ODBEditorLaunchStyle</key>
					<integer>0</integer>
					<key>ODBEditorName</key>
					<string>BBEdit Lite</string>
			</dict>
			<dict>
					<key>OBDEditorBundleID</key>
					<string>com.macrabbit.cssedit</string>
					<key>ODBEditorCreatorCode</key>
					<string>CSSE</string>
					<key>ODBEditorLaunchStyle</key>
					<integer>0</integer>
					<key>ODBEditorName</key>
					<string>CSSEdit</string>
			</dict>
			<dict>
					<key>ODBEditorBundleID</key>
					<string>jp.co.artman21.JeditX</string>
					<key>ODBEditorCreatorCode</key>
					<string>JEDX</string>
					<key>ODBEditorLaunchStyle</key>
					<integer>0</integer>
					<key>ODBEditorName</key>
					<string>Jedit X</string>
			</dict>
			<dict>
					<key>ODBEditorBundleID</key>
					<string>com.optima.PageSpinner</string>
					<key>ODBEditorCreatorCode</key>
					<string>JyWs</string>
					<key>ODBEditorLaunchStyle</key>
					<integer>0</integer>
					<key>ODBEditorName</key>
					<string>PageSpinner</string>
			</dict>
			<dict>
					<key>ODBEditorBundleID</key>
					<string>org.smultron.Smultron</string>
					<key>ODBEditorCreatorCode</key>
					<string>SMUL</string>
					<key>ODBEditorLaunchStyle</key>
					<integer>0</integer>
					<key>ODBEditorName</key>
					<string>Smultron</string>
			</dict>
			<dict>
					<key>ODBEditorBundleID</key>
					<string>de.codingmonkeys.SubEthaEdit</string>
					<key>ODBEditorCreatorCode</key>
					<string>Hdra</string>
					<key>ODBEditorLaunchStyle</key>
					<integer>0</integer>
					<key>ODBEditorName</key>
					<string>SubEthaEdit</string>
			</dict>
			<dict>
					<key>ODBEditorBundleID</key>
					<string>com.macromates.textmate</string>
					<key>ODBEditorCreatorCode</key>
					<string>TxMt</string>
					<key>ODBEditorLaunchStyle</key>
					<integer>0</integer>
					<key>ODBEditorName</key>
					<string>TextMate</string>
			</dict>
			<dict>
					<key>ODBEditorBundleID</key>
					<string>com.barebones.textwrangler</string>
					<key>ODBEditorCreatorCode</key>
					<string>!Rch</string>
					<key>ODBEditorLaunchStyle</key>
					<integer>0</integer>
					<key>ODBEditorName</key>
					<string>TextWrangler</string>
			</dict>
	</array>
</plist>