<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict>
        <key>kind</key>
        <string>title</string>
        <key>title</key>
        <string>Samples</string>
    </dict>
	
    <dict>
        <key>kind</key>
        <string>item</string>
		<key>title</key>
		<string>True</string>
		<key>code</key>
		<string>true</string>
	</dict>
    <dict>
        <key>kind</key>
        <string>item</string>
		<key>title</key>
		<string>False</string>
		<key>code</key>
		<string>false</string>
	</dict>
    
    <dict>
		<key>kind</key>
		<string>separator</string>
	</dict>
    
    <dict>
        <key>kind</key>
        <string>menu</string>
        <key>title</key>
        <string>Global Functions</string>
        <key>menu</key>
        <array>
        </array>
    </dict>
    
    <dict>
		<key>kind</key>
		<string>separator</string>
	</dict>
    
    <dict>
        <key>kind</key>
        <string>menu</string>
        <key>title</key>
        <string>Choice Dependencies</string>
        <key>menu</key>
        <array>
            <dict>
                <key>kind</key>
                <string>item</string>
                <key>title</key>
                <string>Choice is selected</string>
                <key>code</key>
                <string>choices.someChoiceID.selected</string>
            </dict>
            <dict>
                <key>kind</key>
                <string>item</string>
                <key>title</key>
                <string>Choice isn't enabled</string>
                <key>code</key>
                <string>choices.someChoiceID.enabled == false</string>
            </dict>
            <dict>
                <key>kind</key>
                <string>item</string>
                <key>title</key>
                <string>Choice is visible</string>
                <key>code</key>
                <string>choices.someChoiceID.visible</string>
            </dict>
        </array>
    </dict>
    
    <dict>
		<key>kind</key>
		<string>separator</string>
	</dict>
    
    <dict>
        <key>kind</key>
        <string>menu</string>
        <key>title</key>
        <string>Target Volume Scripts</string>
        <key>menu</key>
        <array>
            <dict>
                <key>kind</key>
                <string>item</string>
                <key>title</key>
                <string>1GB Available on Volume</string>
                <key>code</key>
                <string>my.target.availableKilobytes > 1000000</string>
            </dict>
            <dict>
                <key>kind</key>
                <string>item</string>
                <key>title</key>
                <string>System Version on Volume</string>
                <key>code</key>
                <string>my.target.systemVersion.ProductVersion > "10.2"</string>
            </dict>
        </array>
    </dict>
    
    <dict>
		<key>kind</key>
		<string>separator</string>
	</dict>
    
    <dict>
        <key>kind</key>
        <string>menu</string>
        <key>title</key>
        <string>System Scripts</string>
        <key>menu</key>
        <array>
        <dict>
                <key>kind</key>
                <string>item</string>
                <key>title</key>
                <string>System Version</string>
                <key>code</key>
                <string>system.version.ProductVersion > "10.2"</string>
            </dict>
            <dict>
                <key>kind</key>
                <string>item</string>
                <key>title</key>
                <string>File Existence</string>
                <key>code</key>
                <string>system.files.fileExistsAtPath("/Applications/Safari.app")</string>
            </dict>
            <dict>
                <key>kind</key>
                <string>item</string>
                <key>title</key>
                <string>Property from Property List file</string>
                <key>code</key>
                <string>system.files.plistAtPath("/System/SomeFile.plist").SomeProperty > 5</string>
            </dict>
            <dict>
                <key>kind</key>
                <string>item</string>
                <key>title</key>
                <string>Sysctl Call (1GB RAM check)</string>
                <key>code</key>
                <string>system.sysctl("hw.memsize") > 1000000000</string>
            </dict>
            <dict>
                <key>kind</key>
                <string>item</string>
                <key>title</key>
                <string>Run an External Script</string>
                <key>code</key>
                <string>system.run("MyScript.pl")</string>
            </dict>
        </array>
    </dict>
    
</array>
</plist>
