<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
    <key>CFBundleName</key>
    <string>OVDisplayServer</string> 	
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>DisplayServer</string>
	<key>CFBundleIdentifier</key>
	<string>org.openvanilla.ovdisplayserver</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>OPVN</string>
	<key>CFBundleVersion</key>
	<string>0.8.0</string>
	<key>LSBackgroundOnly</key>
	<string>1</string>
	<key>LSHasLocalizedDisplayName</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>OSAScriptingDefinition</key>
	<string>OVDisplayServer.sdef</string>
	<key>NSAppleScriptEnabled</key>
	<string>YES</string>
</dict>
</plist>
