<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IFPkgDescriptionTitle</key>
	<string>酷音輸入法</string>
	<key>IFPkgDescriptionDescription</key>
	<string>酷音輸入法是一套智慧型「自動選字」的注音輸入法，也是最常用的中文輸入法之一。</string>
	<key>IFPkgDescriptionVersion</key>
	<string>0.63</string>
</dict>
</plist>
