<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OVDisplayServer</key>
	<dict>
		<key>background</key>
		<string>0.402768 0.493667 0.844114</string>
		<key>backgroundImage</key>
		<string></string>
		<key>font</key>
		<string>LucidaGrande</string>
		<key>foreground</key>
		<string>1.0 1.0 1.0</string>
		<key>notificationStyle</key>
		<string>default</string>
		<key>opacity</key>
		<real>0.89999997615814209</real>
		<key>size</key>
		<real>24</real>
	</dict>
	<key>OVIMArray</key>
	<dict>
		<key>快打模式</key>
		<string>0</string>
		<key>特別碼提示</key>
		<string>1</string>
	</dict>
	<key>OVIMGeneric-amis.cin</key>
	<dict>
		<key>autoCompose</key>
		<string>0</string>
		<key>hitMaxAndCompose</key>
		<string>0</string>
		<key>maxKeySequenceLength</key>
		<string>7</string>
		<key>shiftSelectionKey</key>
		<string>0</string>
		<key>warningBeep</key>
		<string>0</string>
	</dict>
	<key>OVIMGeneric-cj.cin</key>
	<dict>
		<key>autoCompose</key>
		<string>0</string>
		<key>hitMaxAndCompose</key>
		<string>0</string>
		<key>maxKeySequenceLength</key>
		<string>5</string>
		<key>shiftSelectionKey</key>
		<string>0</string>
		<key>warningBeep</key>
		<string>1</string>
	</dict>
	<key>OVIMGeneric-ehq-symbols.cin</key>
	<dict>
		<key>autoCompose</key>
		<string>1</string>
		<key>hitMaxAndCompose</key>
		<string>0</string>
		<key>maxKeySequenceLength</key>
		<string>10</string>
		<key>shiftSelectionKey</key>
		<string>0</string>
		<key>warningBeep</key>
		<string>1</string>
	</dict>
	<key>OVIMGeneric-paiwan.cin</key>
	<dict>
		<key>autoCompose</key>
		<string>0</string>
		<key>hitMaxAndCompose</key>
		<string>0</string>
		<key>maxKeySequenceLength</key>
		<string>7</string>
		<key>shiftSelectionKey</key>
		<string>0</string>
		<key>warningBeep</key>
		<string>1</string>
	</dict>
	<key>OVIMPOJ-Holo</key>
	<dict>
		<key>ASCIIOutput</key>
		<string>0</string>
		<key>fullPOJOutput</key>
		<string>0</string>
		<key>keyboardLayout</key>
		<string>1</string>
		<key>useDotComposing</key>
		<string>1</string>
		<key>warningBeep</key>
		<string>1</string>
	</dict>
	<key>OVIMPhonetic</key>
	<dict>
		<key>keyboardLayout</key>
		<string>1</string>
		<key>selectKey</key>
		<string>123456789</string>
	</dict>
	<key>OVIMSpaceChewing</key>
	<dict>
		<key>keyboardLayout</key>
		<string>4</string>
	</dict>
	<key>OVLoader</key>
	<dict>
		<key>atomicInitLockTimeout</key>
		<string>500</string>
		<key>beepSound</key>
		<string></string>
		<key>excludeLibraryList</key>
		<array>
			<string>OVIMSpaceChewing.dylib</string>
			<string>OVIMArray.dylib</string>
		</array>
		<key>excludeModuleList</key>
		<array>
			<string>OVIMGeneric-dayi3.cin</string>
			<string>OVIMGeneric-simplex.cin</string>
			<string>OVIMGeneric-pinyin.cin</string>
			<string>OVIMGeneric-cj.cin</string>
			<string>OVIMGeneric-wubizixing.cin</string>
			<string>OVOFReverseLookup-lookup-bpmf.cin</string>
			<string>OVOFReverseLookup-lookup-cj.cin</string>
			<string>OVOFReverseLookup-lookup-array.cin</string>
			<string>OVOFConvSC2TC</string>
		</array>
		<key>keyPreprocessorArray</key>
		<array/>
		<key>lastPrimaryInputMethod</key>
		<string>OVIMGeneric-ehq-symbols.cin</string>
		<key>outputFilterArray</key>
		<array/>
		<key>primaryInputMethod</key>
		<string>OVIMPhonetic</string>
		<key>shouldBeep</key>
		<string>1</string>
	</dict>
	<key>OVMenuManager</key>
	<dict>
		<key>OVOFConvTC2SC</key>
		<string>S mo</string>
		<key>OVOFFullWidthCharacter</key>
		<string>space s</string>
		<key>fastIMSwitch</key>
		<string>space c</string>
		<key>keyPreprocessorOrder</key>
		<array/>
		<key>outputFilterOrder</key>
		<array>
			<string>OVOFTextRecorder</string>
			<string>OVOFFullWidthCharacter</string>
			<string>OVOFConvTC2SC</string>
			<string>OVOFConvSC2TC</string>
			<string>OVOFReverseLookup-lookup-array.cin</string>
			<string>OVOFReverseLookup-lookup-bpmf.cin</string>
			<string>OVOFReverseLookup-lookup-cj.cin</string>
			<string>OVOFReverseLookup-lookup-poj.cin</string>
			<string>OVOF1920</string>
		</array>
	</dict>
	<key>OVOF1920</key>
	<dict/>
	<key>OVOFFullWidthCharacter</key>
	<dict/>
	<key>TLIM</key>
	<dict>
		<key>diacriticInputOption</key>
		<string>0</string>
		<key>forcePOJStyleWithTL</key>
		<string>0</string>
		<key>inputSyllableType</key>
		<string>1</string>
		<key>outputSyllableType</key>
		<string>0</string>
		<key>shouldNormalize</key>
		<string>1</string>
	</dict>
</dict>
</plist>
