<!-- BEGIN bottom -->
<div id="bottombar">
<table width="100%">
<tr>
<td align="left" valign="middle">
    <div[% show_controls ? '' : ' style="display:none"' %]>
    <a accesskey='p' href="[% prev_slide %]">[% link_previous %]</a> |
    <a accesskey='i' href="[% index_slide %]">[% link_index %]</a> |
    <a accesskey='n' href="[% next_slide %]">[% link_next %]</a>
    </div>
</td>
<td align="right" valign="middle">
    [% copyright_string %]
</td>
</tr>
</table>
</div> 
<div id="logo"></div>
<div class="spacer">
<a name="end"></a>
</div>
</body>
</html>

