<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>OVPrefPane</string>
	<key>CFBundleIconFile</key>
	<string>openvanilla.icns</string>
	<key>CFBundleIdentifier</key>
	<string>org.openvanilla.OVPrefPane</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>luks</string>
	<key>CFBundleVersion</key>
	<string>0.6.3</string>
	<key>NSMainNibFile</key>
	<string>OVPrefPane</string>
	<key>NSPrefPaneIconLabel</key>
	<string>OpenVanilla</string>
	<key>NSPrincipalClass</key>
	<string>OpenVanillaPreferencePane</string>
</dict>
</plist>
