body {
    margin: 0;
    padding: 0;
    font-size: 12pt;
    background: transparent;
    color: #333;
    font-family: Lucida Grande, Verdana, Arial, sans-serif;
    width: 434px;
    height: 82px;
    overflow: hidden;
}

div#wrapper {
    padding:0;
    margin:0;
    width:432px;
    height:80px;
    background: url(ovbg.png) no-repeat;
    border:1px solid transparent;
}

div#content {
    padding: 10px;
    margin-top: 10px;
    margin-left: 70px;
    width: 320px;
    height: 25px;
    border:1px solid transparent;
}

div#footer marquee {
    margin:-20px 20px 0 80px;
    padding:0;
    font-size:9pt;
}
span#marquee-content {
    display:inline;
}
span#marquee-content u1 {
    display:inline;
    font-size:9pt;
    margin:0;padding:0;
}
span#marquee-content li {
    margin:0;padding:0;
    list-style: none;
    display:inline;
}

