body {
    margin: 0;
    padding: 0;
    font-size: 12pt;
    background: transparent;
    color: #333;
    font-family: Lucida Grande, Verdana, Arial, sans-serif;
    width: 310px;
    height: 400px;
    overflow: hidden;
}

div#wrapper {
    padding:0;
    margin:0;
    width:310px;
    height:400px;
    background: url(ovbg.png) no-repeat;
    border:1px solid transparent;
}

div#content {
	position: absolute;
	padding: 20px;
	padding-right: 30px;
    padding-top: 30px;
    top: 140px;
    left: 10px;
    width: 230px;
	height: 100px;    
	opacity: 0.8;
    background: url(ovbubble.png) no-repeat;   
}
