body {
	padding: 50px 0;
}
#wrapper {
	width: 500px;
	margin: 0 auto;
}
#logo {
	padding: 40px 0;
	width: 250px;
	float: left;
}
#contents {
	border-left: 1px solid #000;
	width: 219px;
	padding: 20px 0 -20px 30px;
	float: right;
}
h1 {
	font-size: 18px;
	margin: 0;
	padding: 138px 0 0 0;
	background: url(..//graphics/packagemaker.icns) 50% 0 no-repeat;
	text-align: center;
}
li {
	padding: 0 0 40px;
}