body {
	padding: 0;
	margin: 0;
	font-family: "Lucida Grande", sans-serif;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
pre {
	background: #F1F5F9;
	border: 1px solid #C9D1D7;
	padding: 6px;
	line-height: normal;
}
code {
	font-size: 120%;
}
br + a {
	font-size: 12px;
	display: block;
	margin-top: -2px;
}
br + a:before {
	content: "\2192  ";
}
.foot {
	font-size: 90%;
}
#breadcrumbs {
	background: #DDD;
	font-size: 85%;
	border-bottom: 1px solid #999;
	margin-bottom: 20px;
	padding: 5px 8px;
	color: #999;
}
#breadcrumbs a {
	color: #555;
}
#content h1 {
	margin: 0 0 12px;
	padding: 0;
	font-size: 22px;
}
#content ul {
	list-style: square;
	margin: 0 15px;
	padding: 0 15px;
}
#content li {
	padding: 0 0 4px;
}