body {
    margin: 0;
    font-family: "Lucida Grande", sans-serif;
    font-size: 10pt;
}

.backgroundImage {
    position: absolute;
    top: 0px;
    left: 0px;
}

.flip {
    position:absolute;
    bottom: 18px;
    right: 15.93181800842285px;
    width:13px;
    height:13px;
}

#flip {
    opacity:0.5;
    background: url(file:///System/Library/WidgetResources/ibutton/black_i.png) no-repeat top left;
    z-index:8000;
}

#fliprollie {
    display:none;
    opacity:0.25;
    background: url(file:///System/Library/WidgetResources/ibutton/black_rollie.png) no-repeat top left;
    z-index:7999;

}

.donePrefsButton {
    position: absolute;
    bottom: 24px;
    right: 30px;
    display: none;
}

#widgetButton {
    font: 10px "Lucida Grande";
    font-weight: bold;
}

#back {
    display: none;
}

textarea {
    background: #CCC;
    padding: 1px;
    margin: 3px 0 3px 0;
    font-size: 8pt;
    color: #666;
}

div p {
    margin: 5px 0;
    font-size: 10px;
}
a {
    font-weight: bold;
    color: #333;
}
