<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OVLoader</key>
	<dict>
		<key>primaryInputMethod</key>
		<string>OVIMPhonetic</string>
		<key>displayServerName</key>
		<string>OVDisplayServer-0.8.0</string>
		<key>displayServerStartupTimeout</key>
		<string>40</string>
		<key>displayServerPath</key>
		<string>/Library/OpenVanilla/0.8/Loader/OVDisplayServer.app</string>
		<key>excludeLibraryList</key>
		<array>
			<string>OVIMUIM.bundle</string>
			<string>OVKPPhraseTools.dylib</string>
			<string>OVOFReverseLookup.dylib</string>
		</array>
		<key>excludeModuleList</key>
		<array>
			<string>OVIMGeneric-pinyin.cin</string>
			<string>OVIMGeneric-wubizixing.cin</string>
			<string>OVOFConvSC2TC</string>
		</array>		
	</dict>
</dict>
</plist>
