<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>OpenVanilla-App.icns</string>
	<key>CFBundleIdentifier</key>
	<string>org.openvanilla.inputmethod.OpenVanilla</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.3.0-dev</string>
	<key>CFBundleSignature</key>
	<string>OPVN</string>
	<key>CFBundleVersion</key>
	<string>3190</string>
	<key>InputMethodConnectionName</key>
	<string>OpenVanilla_1_Connection</string>
	<key>InputMethodServerControllerClass</key>
	<string>OVInputMethodController</string>
	<key>InputMethodServerDelegateClass</key>
	<string>OVInputMethodController</string>
	<key>InputMethodServerPreferencesWindowControllerClass</key>
	<string>OVPreferencesWindowController</string>
	<key>LSHasLocalizedDisplayName</key>
	<false/>
	<key>LSMinimumSystemVersion</key>
	<string>${MACOSX_DEPLOYMENT_TARGET}</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2004-2012 The OpenVanilla Project.</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>TISInputSourceID</key>
	<string>org.openvanilla.inputmethod.OpenVanilla</string>
	<key>TISIntendedLanguage</key>
	<string>zh-Hant</string>
	<key>tsInputMethodCharacterRepertoireKey</key>
	<array>
		<string>Hant</string>
		<string>Hans</string>
	</array>
	<key>tsInputMethodIconFileKey</key>
	<string>OpenVanilla-InputMenu.tiff</string>
</dict>
</plist>
