body {
	font-size: 10pt;
	font-family: Lucida Grande, sans-serif;
	padding: 10px;
}

p {
	line-height: 1.2em;
}

em {
	font-family: Times New Roman, serif;
}

h1 span.ov{
	font-family: Palatino, Times New Roman, serif;
	font-weight: normal;
	font-size: 150%;
	font-style: italic;
}

h1 {
	border-bottom: 1px solid #999;
	padding: 0;
	margin: 0 0 10px 0;
}

blockquote {
	padding: 20px;
	font-family: Courier, monospace;
	border: 1px solid #CCC;
}

.credit {
	font-size: 9pt;
	text-align: right;
}
