<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowFileAccessOutsideOfWidget</key>
	<false/>
	<key>AllowFullAccess</key>
	<true/>
	<key>AllowInternetPlugins</key>
	<false/>
	<key>AllowJava</key>
	<false/>
	<key>AllowMultipleInstances</key>
	<false/>
	<key>AllowNetworkAccess</key>
	<false/>
	<key>AllowSystem</key>
	<true/>
	<key>CFBundleDisplayName</key>
	<string>OVFilter</string>
	<key>CFBundleIdentifier</key>
	<string>org.openvanilla.widget.OVFilter</string>
	<key>CFBundleName</key>
	<string>OVFilter</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CloseBoxInsetX</key>
	<integer>4</integer>
	<key>CloseBoxInsetY</key>
	<integer>4</integer>
	<key>MainHTML</key>
	<string>OVFilter.html</string>
	<key>TargetCFBundleShortVersionString</key>
	<string>1.0</string>
</dict>
</plist>
